<form class="checkout-form" [formRoot]="form">
  <df-customer-form [form]="form.customer" />

  <df-attendee-configurator-form [form]="form.attendees" />

  <df-option-picker [selectedOption]="form.location().value()" class="location-picker" [options]="locations()"/>

  <div class="form-field business-toggle inline auto-height reversed">
    <label for="business-purchase">Business Purchase</label>
    <df-toggle [formField]="form.businessPurchase" id="business-purchase" type="checkbox" class="form-control" />
  </div>
  
  @if (!form.company().hidden()) {
    <df-company-form [form]="form.company" />
  }
  @for (error of form().errors(); track error.kind) {
    <div class="error-banner">{{ error.message }}</div>
  }
  <section class="actions">
    <button class="submit-button" [disabled]="form().submitting()" type="submit">{{ buttonText() }}</button>
  </section>
</form>